<style>
.mobile {
  margin-left: 10.2%;
}

@media only screen and (max-width: 767px) {
  .mobile {
    margin-left: 9%;
  }

@media only screen and (max-width: 360px) {
  .mobiletext {
    font-size: 11px;
  }
}
</style>
<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CustomerAttributes
 * @author     Extension Team
 * @copyright  Copyright (c) 2018-2019 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
// @codingStandardsIgnoreFile
?>
<?php $attributeHelper = $block->getViewModel()->getCustomerAttributeHelper();?>
<?php $attributeCollection = $attributeHelper->getUserDefinedAttribures()?>
<?php
    $customerAttrFromOrder = [];
    $customerAttrFromOrder = $block->getViewModel()->getSessionHepler()->getSession()->getCustomerAttributes();
    if ($customerAttrFromOrder) {
        $block->getViewModel()->getSessionHepler()->getSession()->unsCustomerAttributes();
    }
?>
<?php $hasField = false; ?>
<?php if ($attributeCollection->getSize() > 0) : ?>
   <!--  <fieldset class="fieldset create info"> -->
        <!-- For all user defined attributes -->
        <?php foreach ($attributeCollection as $attribute):?>
            <!-- For all user defined attributes which are set for customer create account -->
            <?php
                if (isset($customerAttrFromOrder[$attribute->getAttributeCode()])) {
                    $fromCheckout = true;
                } else {
                    $fromCheckout = false;
                }
                if ($attributeHelper->isAttribureForCustomerAccountCreate($attribute->getAttributeCode())) {
                    $show = true;
                } else {
                    $show = false;
                }
                if ($fromCheckout && !$show) {
                    $hidden = true;
                } else {
                    $hidden = false;
                }
            ?>
            <?php if ($show || $fromCheckout):?>
                <?php if (!$hasField && !$hidden):?>
                    <?php $hasField = true; ?>
                    <!-- <legend class="legend"><span><?php echo $attributeHelper->getTitle() ?></span></legend><br> -->
                <?php endif ?>
                <?php $frontEndLabel = $attribute->getStoreLabel($attributeHelper->getStoreId()); ?>
                <?php $getAttributeCodeFunction = "get" . str_replace(' ', '', ucwords(str_replace('_', ' ', $attribute->getAttributeCode()))); ?>
                <?php $fieldRequiredClass = ($attribute->getIsRequired()) ? 'data-validate="{required:true}"' : '' ?>
                <?php $fieldFrontendClass = ($attribute->getFrontendClass()) ? $attribute->getFrontendClass() : '' ?>
                <?php
                    if ($customerAttrFromOrder && isset($customerAttrFromOrder[$attribute->getAttributeCode()])) {
                        $fieldValue = $customerAttrFromOrder[$attribute->getAttributeCode()];
                    } else {
                        $fieldValue = ($block->getFormData()->getData($attribute->getAttributeCode()))
                            ? $block->getFormData()->getData($attribute->getAttributeCode()) : $attribute->getDefaultValue();
                    }
                ?>
                <?php if ($attribute->getFrontendInput()== 'text'):?>
                   <!--  <div class="field<?php if($hidden){echo ' hidden';}?> <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()):?>required<?php endif;?>"> -->
                        <?php if ($attribute->getAttributeCode()== 'ca_ahli_waris') : ?>
                        <br>
                        <label>
                            <span>Ahli Waris</span>
                            <span style="color: red; font-size: 16px">
                            *
                            </span>
                        </label>
                        <div class="control">
                            <input type="text" name="<?php echo $attribute->getAttributeCode(); ?>" id="<?php echo $attribute->getAttributeCode(); ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>" class="input-text <?php echo $fieldFrontendClass;?>" <?php echo $fieldRequiredClass; ?>>
                        </div>
                        <?php elseif ($attribute->getAttributeCode()== 'ca_nomor_handphone') : ?>
                        <table>
                        	<tr>
                        	<td style="padding: 0px 1.9px;padding-right: 7px;width: 50%">
                        	 <div>	
                        <label>
                            <span class="mobiletext">Nomor Handphone</span>
                            <span style="color: red; font-size: 16px">
                            *
                            </span>
                        </label>
                        <div class="control">
                            <input placeholder="Nomor Handphone" type="text" maxlength="13" minlength="10" name="<?php echo $attribute->getAttributeCode(); ?>" id="<?php echo $attribute->getAttributeCode(); ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>" class="input-text <?php echo $fieldFrontendClass;?>" <?php echo $fieldRequiredClass; ?>>
                        </div>
                        </div>
                        	</td>
                        <?php elseif ($attribute->getAttributeCode()== 'ca_nomor_ktp') : ?>
                        	<td style="padding: 0px 1.9px;">
                        <div>
                        <label>
                            <span>Nomor KTP</span>
                            <span style="color: red; font-size: 16px">
                            *
                            </span>
                        </label>
                        <div class="control">
                            <input placeholder="Nomor KTP" type="text" maxlength="16" minlength="16" name="<?php echo $attribute->getAttributeCode(); ?>" id="<?php echo $attribute->getAttributeCode(); ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>" class="input-text <?php echo $fieldFrontendClass;?>" <?php echo $fieldRequiredClass; ?>>
                        </div>
                        </div>
                        	</td>
                        	</tr>
                        </table>	
                        <?php elseif ($attribute->getAttributeCode()== 'ca_direct_upline_id') : ?>
                        <br>
                        <label>
                            <span>Direct Upline Id</span>
                            <span style="color: red; font-size: 16px">
                            *
                            </span>
                        </label>
                        <div class="control">
                            <select name="one" onchange="if (this.value=='ada'){this.form['<?php echo $attribute->getAttributeCode(); ?>'].style.visibility='visible'}else {this.form['<?php echo $attribute->getAttributeCode(); ?>'].style.visibility='hidden'};">
                            <option value="" selected="selected">Pilih...</option>
                            <option value="ada">Ada</option>
                            <option value="tidak">Tidak Ada</option>
                            </select>
                            <input type="text" placeholder="Masukkan Upline Id Anda" style="visibility:hidden;" name="<?php echo $attribute->getAttributeCode(); ?>" id="<?php echo $attribute->getAttributeCode(); ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>" class="input-text <?php echo $fieldFrontendClass;?>" <?php echo $fieldRequiredClass; ?>>
                        </div>
                        <?php elseif ($attribute->getAttributeCode()== 'ca_tempat_lahir') : ?>
                        <table>
                        	<tr>
                        	<td style="padding: 0px 1.9px;padding-right: 7px;">
                        <div>	
                        <label>
                            <span>Kota</span>
                            <span style="color: red; font-size: 16px">
                            *
                            </span>
                        </label>
						<div class="control">
                            <input placeholder="Kota" autoComplete="on" list="suggestions" type="text" name="<?php echo $attribute->getAttributeCode(); ?>" id="<?php echo $attribute->getAttributeCode(); ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>" class="input-text <?php echo $fieldFrontendClass;?>" <?php echo $fieldRequiredClass; ?>>
                            <?php 
                $con=mysqli_connect("localhost","phpmyadmin","s0lut3chgl0b4l","fastest");
                $query = mysqli_query($con,"SELECT default_name FROM directory_country_region");
				$query_display = mysqli_query($con,"SELECT * FROM directory_country_region");
				?>
				<datalist id="suggestions">
				<?php
				while($row=mysqli_fetch_array($query_display))
				{
   				echo "
   				<option>".$row['default_name']
 				."</option>";
				}
                ?>
                </datalist>
                            <!-- <a href="" style="color: blue;" data-toggle="modal" data-target="#myModal">Silahkan Pilih Kota</a> -->
                        </div>
                        </div>
                        </td>
                        <?php else : ?>
                        <br>
                        <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                        <div class="control">
                            <input type="text" name="<?php echo $attribute->getAttributeCode(); ?>" id="<?php echo $attribute->getAttributeCode(); ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>" class="input-text <?php echo $fieldFrontendClass;?>" <?php echo $fieldRequiredClass; ?>>
                        </div>    
                        <?php endif; ?>
                    <!-- </div> -->
                <?php elseif ($attribute->getFrontendInput()== 'textarea'):?>
                    <div class="field<?php if($hidden){echo ' hidden';}?> <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()):?>required<?php endif;?>">
                        <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                        <div class="control">
                            <input disabled="true" type="text" name="<?php echo $attribute->getAttributeCode(); ?>" id="<?php echo $attribute->getAttributeCode(); ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>" class="input-text <?php echo $fieldFrontendClass;?>" <?php echo $fieldRequiredClass; ?>>
                        </div>
                    </div>
                <?php elseif ($attribute->getFrontendInput()== 'date'):?>
                    <?php
                    if ($fieldValue) {
                        $date = date_create($fieldValue);
                        $date = date_format($date, 'm/d/Y');
                    } else {
                        $date = "";
                    }
                    ?>
                   <!--  <div class="field<?php if($hidden){echo ' hidden';}?> <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()):?>required<?php endif;?>"> -->
                        <?php if ($attribute->getAttributeCode()== 'ca_tanggal_lahir') : ?>
                        <td style="padding: 0px 1.9px;width: 50%">
                        <div>	
                        <label>
                            <span>Tanggal Lahir</span>
                            <span style="color: red; font-size: 16px">
                            *
                            </span>
                        </label>
                        <div class="control">
                            <input type="text" placeholder="Tanggal Lahir" class="input-text" title="<?php echo __($frontEndLabel); ?>" value="<?php echo $block->escapeHtml($date) ?>" id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" <?php echo $fieldRequiredClass; ?>>
                            <span style="color: #e02b27;font-size: 1.2rem;" id="msg"></span>
                            <script type="text/x-magento-init">
                        {
                            "#<?php echo $attribute->getAttributeCode(); ?>": {
                                "Bss_CustomerAttributes/js/date": {
                                }
                            }
                        }
                    </script>
                        </div>
                        </div>
                        </td>
                        </tr>
                        </table>
                        <?php else : ?>
                        <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                        <div class="control">
                            <input type="text" class="input-text" title="<?php echo __($frontEndLabel); ?>" value="<?php echo $block->escapeHtml($date) ?>" id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" <?php echo $fieldRequiredClass; ?>>
                            <script type="text/x-magento-init">
                        {
                            "#<?php echo $attribute->getAttributeCode(); ?>": {
                                "Bss_CustomerAttributes/js/date": {
                                }
                            }
                        }
                    </script>
                        </div>
                        <?php endif; ?>
                    <!-- </div> -->
                <?php elseif ($attribute->getFrontendInput()== 'boolean'):?>
                    <div class="field<?php if($hidden){echo ' hidden';}?> <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()):?>required<?php endif;?>">
                        <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                        <div class="control">
                            <select id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" title="<?php echo __($frontEndLabel); ?>" <?php echo $fieldRequiredClass; ?>>
                                <?php $options = $attributeHelper->getAttributeOptions($attribute->getAttributeCode());?>
                                <?php foreach ($options as $option):?>
                                    <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $fieldValue) {
                        echo ' selected="selected"';
                    } ?>><?php echo $option['label']->getText();?></option>
                                <?php endforeach;?>
                            </select>
                        </div>
                    </div>
                <?php elseif ($attribute->getFrontendInput()== 'radio'):?>
                    <?php $fieldRequiredClass = ($attribute->getIsRequired()) ? 'data-validate="{\'validate-one-required-by-name\':true}"' : ''?>
                    <div class="field<?php if($hidden){echo ' hidden';}?> <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()):?>required<?php endif;?>" id="<?php echo $attribute->getAttributeCode() ?>">
                        <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                        <div class="control">
                            <?php $options = $attributeHelper->getAttributeOptions($attribute->getAttributeCode());?>
                            <?php foreach ($options as $option):?>
                                <?php if (!$option['value']) {
                        continue;
                    } ?>
                                <div class="field choice">
                                    <input type="radio"
                                           class="radio <?php echo $attribute->getAttributeCode() ?>"
                                           id="<?php echo $attribute->getAttributeCode() . $option['value']; ?>"
                                        <?php echo $fieldRequiredClass; ?>
                                           name="<?php echo $attribute->getAttributeCode(); ?>"
                                           data-selector="<?php echo $attribute->getAttributeCode(); ?>"
                                        <?php if ($option['value'] == $fieldValue) {
                        echo ' checked="checked"';
                    } ?>
                                           value="<?php echo $option['value'] ?>"/>
                                    <label class="label"
                                           for="<?php echo $attribute->getAttributeCode() . $option['value']; ?>">
                                        <span><?php echo $option['label']; ?></span>
                                    </label>
                                </div>
                            <?php endforeach;?>
                        </div>
                    </div>
                <?php elseif ($attribute->getFrontendInput()== 'select'):?>
                    <div class="field<?php if($hidden){echo ' hidden';}?> <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()):?>required<?php endif;?>">
                        <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                        <div class="control">
                            <select id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" title="<?php echo __($frontEndLabel); ?>" <?php echo $fieldRequiredClass; ?>>
                                <?php $options = $attributeHelper->getAttributeOptions($attribute->getAttributeCode());?>
                                <?php foreach ($options as $option):?>
                                    <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $fieldValue) {
                        echo ' selected="selected"';
                    } ?>><?php echo $option['label'];?></option>
                                <?php endforeach;?>
                            </select>
                        </div>
                    </div>
                <?php elseif ($attribute->getFrontendInput()== 'multiselect'):?>
                    <div class="field<?php if($hidden){echo ' hidden';}?> <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()):?>required<?php endif;?>">
                        <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                        <div class="control">
                            <select multiple="multiple" size="5" id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>[]" title="<?php echo __($frontEndLabel); ?>"  class="multiselect" <?php echo $fieldRequiredClass; ?>>
                                <?php $options = $attributeHelper->getAttributeOptions($attribute->getAttributeCode());?>
                                <?php foreach ($options as $option):?>
                                    <?php $selectedOptions = is_array($fieldValue) ? $fieldValue : explode(',', $fieldValue);?>
                                    <?php if (!$option['value'] || !$option['label']) {
                        continue;
                    } ?>
                                    <option value="<?php echo $option['value'] ?>"
                                        <?php if (in_array($option['value'], $selectedOptions)) {
                        echo ' selected="selected"';
                    } ?>>
                                        <?php echo $option['label'];?>
                                    </option>
                                <?php endforeach;?>
                            </select>
                        </div>
                    </div>
                <?php elseif ($attribute->getFrontendInput()== 'checkboxs'):?>
                    <?php $fieldRequiredClass = ($attribute->getIsRequired()) ? 'data-validate="{\'validate-one-required-by-name\':true}"' : ''?>
                    <div class="field<?php if($hidden){echo ' hidden';}?> <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()):?>required<?php endif;?>">
                        <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                        <div class="control">
                            <?php $options = $attributeHelper->getAttributeOptions($attribute->getAttributeCode());?>
                            <?php foreach ($options as $option):?>
                                <?php if (!$option['value']) {
                        continue;
                    } ?>
                                <?php $selectedOptions = is_array($fieldValue) ? $fieldValue : explode(',', $fieldValue);?>
                                <div class="field choice">
                                    <input type="checkbox"
                                           class="checkbox <?php echo $attribute->getAttributeCode() ?>"
                                           id="<?php echo $attribute->getAttributeCode() . $option['value']; ?>"
                                        <?php echo $fieldRequiredClass; ?>
                                           name="<?php echo $attribute->getAttributeCode(); ?>[]"
                                           data-selector="<?php echo $attribute->getAttributeCode(); ?>"
                                        <?php if (in_array($option['value'], $selectedOptions)) {
                        echo ' checked="checked"';
                    } ?>
                                           value="<?php echo $option['value'] ?>"/>
                                    <label class="label"
                                           for="<?php echo $attribute->getAttributeCode() . $option['value']; ?>">
                                        <span><?php echo $option['label']; ?></span>
                                    </label>
                                </div>
                            <?php endforeach;?>
                        </div>
                    </div>
                <?php elseif ($attribute->getFrontendInput()== 'file'):?>
                    <?php $fieldRequiredClass = ($attribute->getIsRequired()) ? 'data-validate="{required:true}"' : '' ?>
                    <div class="field<?php if($hidden){echo ' hidden';}?> <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()):?>required<?php endif;?>">
                        <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                        <div class="control">
                            <input type="file" id="<?php echo $attribute->getAttributeCode() ?>" name="<?= /* @escapeNotVerified */ $attribute->getAttributeCode() ?>"
                                   value="" <?php echo $fieldRequiredClass ?>
                                   class="input-file <?php echo $attribute->getAttributeCode() . "size" ?> <?php echo $attribute->getAttributeCode() . "extension" ?>">
                            <?php
                            $maxSizeMagento = \Magento\Customer\Model\Customer\DataProvider::MAX_FILE_SIZE;
                            $validateInputFile = $attributeHelper->getValueValidateFile($attribute);
                            $fileSize = "bss_nothing";
                            $fileExtension = "bss_nothing";
                            if ($validateInputFile['max_file_size'] != "") {
                                $fileSize = $validateInputFile['max_file_size'];
                            }
                            if ($validateInputFile['file_extensions'] != "") {
                                $fileExtension = $validateInputFile['file_extensions'];
                            }
                            $validatorSize  = $attribute->getAttributeCode() . "size";
                            $validatorExtensions = $attribute->getAttributeCode() . "extension";
                            ?>
                            <script type="text/x-magento-init">
                        {
                            "#<?php echo $attribute->getAttributeCode(); ?>": {
                                "Bss_CustomerAttributes/js/file": {
                                "fileSize" : "<?php echo $fileSize; ?>",
                                "fileExtension" : "<?php echo $fileExtension; ?>",
                                "maxSizeMagento" : <?php echo $maxSizeMagento; ?>,
                                "validatorSize" : "<?php echo $validatorSize;?>",
                                "validatorExtensions" : "<?php echo $validatorExtensions; ?>"
                                }
                            }
                        }
                    </script>
                            <input type="hidden" id="<?php echo $attribute->getAttributeCode() ?>_value" name="<?= /* @escapeNotVerified */ $attribute->getAttributeCode() ?>_value" value="" <?php if ($attribute->getIsRequired()): ?>data-validate="{required:true}" <?php endif;?>/>
                        </div>
                    </div>
                <?php endif; ?>
            <?php endif; ?>
        <?php endforeach;?>
<!--     </fieldset> -->
<?php endif; ?>

<script src="~/Scripts/jquery-2.1.4.js"></script>

<script type="text/javascript">
    $('#myModal').on('click', '.btn-primary', function(){
    var value = $('#myPopupInput').val();
    $('#ca_tempat_lahir').val(value);
    $('#myModal').modal('hide');
});
</script>

