<?php
use Magento\Framework\App\Action\Action;
?>

<?php $_productCollection = $block->getProductCollection(); ?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php echo $block->getAdditionalHtml() ?>
    <?php
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $uniqId = uniqid('block_');
    $_imageHelper = $this->helper('Magento\Catalog\Helper\Image');
    $labelHelper = $this->helper('Codazon\ProductLabel\Helper\Data');
    $filterHelper = $this->helper('Codazon\ProductFilter\Helper\Data');
    $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
    $viewMode = 'list';
    $image = 'side_column_widget_product_thumbnail';
    $image_hover = 'side_column_widget_product_thumbnail_hover';
    $title = $block->getTitle();
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $pos = $block->getPositioned();
    $qsHelper = $this->helper('Codazon\QuickShop\Helper\Data');
    ?>
    <div class="block widget block-products-list <?php echo $viewMode; ?> custom-list" id="<?php echo $uniqId ?>">
		<?php if ($title):?>
		<div class="block-title">
		    <strong><?php echo $title; ?></strong>
		</div>
		<?php endif ?>
		<div class="block-content">
			<div class="products wrapper <?php echo $viewMode; ?> products-<?php echo $viewMode; ?>">
				<?php $iterator = 0; ?>
				<div class="products list items product-items">
				    <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
				    <?php foreach ($_productCollection as $_product): ?>				    						    				    		
						        <div class="item product product-item">
							        <div class="product-item-info" data-container="product-grid">
							        	<div class="product-images">
							            <?php
							            $productImage = $block->getImage($_product, $image);
							            $productHoverImage = $block->getImage($_product, $image_hover);
							            if ($pos != null) {
							                $position = ' style="left:' . $productImage->getWidth() . 'px;'
							                    . 'top:' . $productImage->getHeight() . 'px;"';
							            }
							            ?>
							            <?php if($block->isShow('thumb')): ?>
							            <div class="base-image">
							            <a href="<?php echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
							                <span class="main-image">
												<?php echo $productImage->toHtml(); ?>
											</span>
											<span class="hover-image">
												<?php echo $productHoverImage->toHtml(); ?>
											</span>
							            </a>
							            <?php $labelHelper->showLabel($_product) ?>   
							            </div>
							            <?php endif ?>
							        	<?php echo $qsHelper->getQuickShopButton($_product); ?>
							        	</div>
							            <div class="product details product-item-details">
							                <?php $_productNameStripped = $block->stripTags($_product->getName(), null, true); ?>
							                <?php if($block->isShow('name')): ?>
							                <strong class="product name product-item-name">
							                    <a class="product-item-link"
							                       href="<?php echo $_product->getProductUrl() ?>">
							                        <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
							                    </a>
							                </strong>
							                <?php endif ?>
							                <?php if($block->isShow('review')): ?>
							                <?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
							                <?php endif ?>
							                <?php if($block->isShow('price')): ?>
							                <?php echo $block->getProductPrice($_product) ?>
							                <?php endif ?>
							                <?php echo $block->getProductDetailsHtml($_product); ?>

							                <div class="cdz-product-bottom">
												<div class="cdz-buttons-container">
													<div class="cdz-buttons-inner">
							                    <div class="product actions product-item-actions"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
							                    	<?php if($block->isShow('addtocart')): ?>
							                        <div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
							                            <?php if ($_product->isSaleable()): ?>
							                                <?php $postParams = $block->getAddToCartPostParams($_product); ?>
							                                <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
							                                    <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
							                                    <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
							                                    <?php echo $block->getBlockHtml('formkey')?>
							                                    <?php if ($filterHelper->shouldRenderQuantity($_product)): ?>
							                                    <?php 
					                                                $qtyIncrements = 1;
					                                                $dataValidate = $filterHelper->getQuantityValidators($_product);
					                                                if(isset($dataValidate["validate-item-quantity"]["qtyIncrements"])){
					                                                    $qtyIncrements = $dataValidate["validate-item-quantity"]["qtyIncrements"];
					                                                }
					                                            ?>
															        <div class="field qty box-tocart">								           
															            <div class="control">
															            	<div class="qty-minus"> <a class="btn-qty minus" href="#">-</a></div>
																				<div class="qty-input">
															                		<input type="number"
																	               name="qty"
																	               id="<?php echo $uniqId.'_'.$_product->getId() ?>_qty"
																	               maxlength="12"
																	               value="<?php echo $filterHelper->getProductDefaultQty($_product) * $qtyIncrements ?>"
																	               title="<?php echo __('Qty') ?>" class="input-text qty"
																	               data-validate="<?php echo $block->escapeHtml(json_encode($filterHelper->getQuantityValidators($_product))) ?>"
																	               />
															                       </div>
																	<div class="qty-plus"> <a class="btn-qty plus" href="#">+</a></div>
															            </div>
															        </div>
															        <?php endif; ?>
																<button type="submit"
							                                            title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
							                                            class="action tocart primary">
							                                        <span><?php echo __('Add to Cart') ?></span>
							                                    </button>
							                                </form>
							                            <?php else: ?>
							                                <?php if ($_product->getIsSalable()): ?>
							                                    <div class="stock available"><span><?php echo __('In stock') ?></span></div>
							                                <?php else: ?>
							                                    <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
							                                <?php endif; ?>
							                            <?php endif; ?>
							                        </div>
							                        <?php endif ?>
							                        <?php if($block->isShow('addto')): ?>
							                        <div data-role="add-to-links" class="actions-secondary"<?php echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>
							                            <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
							                                <a href="#"
							                                   class="action towishlist"
							                                   title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
							                                   aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
							                                   data-post='<?php echo $block->getAddToWishlistParams($_product); ?>'
							                                   data-action="add-to-wishlist"
							                                   role="button">
							                                    <span><?php echo __('Add to Wish List') ?></span>
							                                </a>
							                            <?php endif; ?>
							                            <a href="#"
							                               class="action tocompare"
							                               title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
							                               aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
							                               data-post='<?php echo $compareHelper->getPostDataParams($_product); ?>'
							                               role="button">
							                                <span><?php echo __('Add to Compare') ?></span>
							                            </a>
							                        </div>
							                        <?php endif ?>
							                    </div>
							                    <?php if($block->isShow('description')): ?>
							                        <div class="product description product-item-description">
							                            <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
							                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>"
							                               class="action more"><?php echo __('Learn More') ?></a>
							                        </div>
							                    <?php endif; ?>
							                </div>
							                </div>
							                </div>
							            </div>
							        </div>
						        </div>									
				        <?php $iterator++; ?>
				    <?php endforeach; ?>
				</div>
			</div>
			<?php if (!$block->isRedirectToCartEnabled()) : ?>
            <script type="text/x-magento-init">
            {
                "#<?php echo $uniqId ?> [data-role=tocart-form], .form.map.checkout": {
                    "catalogAddToCart": {}
                }
            }
            </script>
			<?php endif; ?>
		</div>
	</div>	
	<script type="text/javascript">
	    require(['jquery','Magento_Theme/js/fastest_fashion'],function($){
	        var $_productWrap = $("#<?php echo $uniqId ?>");
	        $_productWrap.initFilter();
	    });
	</script>
<?php endif ?>