<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Create account form template
 *
 * @var $block \Magento\Customer\Block\Form\Register
 */
?>
<div id="register-form-now">
<div class="block block-register-account">
<div class="block-title">
	<strong id="block-customer-login-heading">
	<?php /* @escapeNotVerified */ echo __('CREATE NEW CUSTOMER ACCOUNT') ?>
	</strong>
	<div class="field note">
		<?php /* @escapeNotVerified */ echo __('Creating an account is easy. Just fill in the form below.') ?>
	</div>
</div>
<?php echo $block->getChildHtml('form_fields_before')?>
<?php /* Extensions placeholder */ ?>
<?php echo $block->getChildHtml('customer.form.register.extra')?>


<form class="form create account form-create-account" action="<?php /* @escapeNotVerified */ echo $block->getPostActionUrl() ?>" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off">
    <?php /* @noEscape */ echo $block->getBlockHtml('formkey'); ?>
	<div class="block-content-register">
    <fieldset class="fieldset create info" style="margin: 0 0 3px;">
    	<legend class="legend"><span>Aktivasi Akun</span></legend><br>
    	<div class="field required">
            <label>
              <span>Memiliki ID Aktivasi</span>
            </label>
            <div class="control">
            	<table>
            		<tr>
            			<td style="padding: 0px 1.9px;">
            	<select required="false" onchange="showAktivasi(this);">
                            <option value="Tidak" selected="selected">Tidak</option>
                            <option value="Ya">Ya</option>
                </select>
            			</td>
            			<td style="padding: 0px 1.9px;">
            	
                <div class="primary" id="btnidaktivasi" style='visibility: hidden; margin-left: 15%;'>
            	<button type="button" class="action submit primary"><span>Periksa ID</span></button>
       			</div>
            			</td>
            		</tr>
            	</table>
                <div style='display:none;' id="idaktivasi">
                <br>
                <table>
                	<tr>
                		<td style="padding: 0px 1.9px;">
                <label>
                  <span>Kode Aktivasi</span>
                </label>
                <input type="text" style="width: 96.8%" name="ca_kode_aktivasi" id="ca_kode_aktivasi" class="input-text">
                <span style="color: black;font-size: 1.2rem;" id="info">
                	<i>
                		Kode yang didapatkan dari Stockist
                	</i>
                </span>
                		</td>
                		<td style="padding: 0px 1.9px;">
                <label>
                  <span>ID Anggota</span>
                </label>
              <input type="text" name="ca_id_anggota" id="ca_id_anggota" class="input-text">
              <span style="color: black;font-size: 1.2rem;" id="info">
                	<i>
                		Kode yang didapatkan dari Stockist
                	</i>
                </span>
                		</td>
                	</tr>
                </table>
                </div>
            </div>
        </div>
    	<div class="field required">
            <label>
              <span>Memiliki ID Sponsor</span>
            </label>
            <div class="control">
            	<table>
            		<tr>
            			<td style="padding: 0px 1.9px;">
            	<select required="false" onchange="showSponsor(this);">
            				<option value="Tidak" selected="selected">Tidak</option>
                            <option value="Ya">Ya</option>
                </select>
            			</td>
            			<td style="padding: 0px 1.9px;">
            	
                <div class="primary" style='visibility: hidden; margin-left: 15%;' id="btnidsponsor">
            	<button type="button" class="action submit primary"><span>Periksa ID</span></button>
       			</div>
            			</td>
            		</tr>
            	</table>
                <div style='display:none;' id="idsponsor">
                <br>
                <table>
                	<tr>
                		<td style="padding: 0px 1.9px;">
                <label>
                  <span>ID Sponsor</span>
                </label>
                <input type="text" style="width: 96.8%" name="ca_id_sponsor" id="ca_id_sponsor" class="input-text">
                <span style="color: black;font-size: 1.2rem;" id="info">
                	<i>
                		ID Sponsor Yang Diberikan Teman
                	</i>
                </span>
                		</td>
                		<td style="padding: 0px 1.9px;">
                <label>
                  <span>ID Upline</span>
                </label>
              <input type="text" name="ca_direct_upline_id" id="ca_direct_upline_id" class="input-text">
              <span style="color: black;font-size: 1.2rem;" id="info">
                	<i>
                		ID Upline Yang Diberikan Teman
                	</i>
                </span>
                		</td>
                	</tr>
                </table>
                </div>
            </div>
            <br>
        </div>
        <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Personal Information') ?></span></legend><br>
        <input type="hidden" name="success_url" value="<?php /* @escapeNotVerified */ echo $block->getSuccessUrl() ?>">
        <input type="hidden" name="error_url" value="<?php /* @escapeNotVerified */ echo $block->getErrorUrl() ?>">
        <?php echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
        <div class="field required">
            <label>
              <span>Email</span>
              <span style="color: red; font-size: 16px">
                            *
              </span>
            </label>
            <div class="control">
                <input type="email" placeholder="<?php /* @escapeNotVerified */ echo __('Email') ?>" name="email" id="email_address" value="<?php echo $block->escapeHtml($block->getFormData()->getEmail()) ?>" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" class="input-text" data-validate="{required:true, 'validate-email':true}">
            </div>
        </div>
        <?php if ($block->isNewsletterEnabled()): ?>
            <div class="field choice newsletter">
                <input type="checkbox" name="is_subscribed" title="<?php /* @escapeNotVerified */ echo __('Sign Up for Newsletter') ?>" value="1" id="is_subscribed"<?php if ($block->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox">
                <label for="is_subscribed" class="label"><span><?php /* @escapeNotVerified */ echo __('Sign Up for Newsletter') ?></span></label>
            </div>
            <?php /* Extensions placeholder */ ?>
            <?php echo $block->getChildHtml('customer.form.register.newsletter')?>
        <?php endif ?>

        <?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
        <?php if ($_dob->isEnabled()): ?>
            <?php echo $_dob->setDate($block->getFormData()->getDob())->toHtml() ?>
        <?php endif ?>

        <?php $_taxvat = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Taxvat') ?>
        <?php if ($_taxvat->isEnabled()): ?>
            <?php echo $_taxvat->setTaxvat($block->getFormData()->getTaxvat())->toHtml() ?>
        <?php endif ?>

        <?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
        <?php if ($_gender->isEnabled()): ?>
            <?php echo $_gender->setGender($block->getFormData()->getGender())->toHtml() ?>
        <?php endif ?>
    </fieldset>
    <?php if ($block->getShowAddressFields()): ?>
        <fieldset class="fieldset address">
            <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Address Information') ?></span></legend><br>
            <input type="hidden" name="create_address" value="1" />
            <div class="field company">
                <label for="company" class="label"><span><?php /* @escapeNotVerified */ echo __('Company') ?></span></label>
                <div class="control">
                    <input placeholder="<?php /* @escapeNotVerified */ echo __('Company') ?>" type="text" name="company" id="company" value="<?php echo $block->escapeHtml($block->getFormData()->getCompany()) ?>" title="<?php /* @escapeNotVerified */ echo __('Company') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('company') ?>">
                </div>
            </div>
            <div class="field telephone">
                <label for="telephone" class="label"><span><?php /* @escapeNotVerified */ echo __('Phone Number') ?></span></label>
                <div class="control">
                    <input placeholder="<?php /* @escapeNotVerified */ echo __('Phone') ?>" type="text" name="telephone" id="telephone" value="<?php echo $block->escapeHtml($block->getFormData()->getTelephone()) ?>" title="<?php /* @escapeNotVerified */ echo __('Phone Number') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('telephone') ?>">
                </div>
            </div>

            <?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street'); ?>

            <div class="field street required">
                <label for="street_1" class="label"><span><?php /* @escapeNotVerified */ echo __('Street Address') ?></span></label>
                <div class="control">
                    <input placeholder="<?php /* @escapeNotVerified */ echo __('Street Address') ?>" type="text" name="street[]" value="<?php echo $block->escapeHtml($block->getFormData()->getStreet(0)) ?>" title="<?php /* @escapeNotVerified */ echo __('Street Address') ?>" id="street_1" class="input-text <?php /* @escapeNotVerified */ echo $_streetValidationClass ?>">
                    <div class="nested">
                        <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                        <?php for ($_i = 2, $_n = $this->helper('Magento\Customer\Helper\Address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                            <div class="field additional">
                                <label class="label" for="street_<?php /* @escapeNotVerified */ echo $_i ?>">
                                    <span><?php /* @escapeNotVerified */ echo __('Address') ?></span>
                                </label>
                                <div class="control">
                                    <input placeholder="<?php /* @escapeNotVerified */ echo __('Street Address') ?>" type="text" name="street[]" value="<?php echo $block->escapeHtml($block->getFormData()->getStreetLine($_i - 1)) ?>" title="<?php /* @escapeNotVerified */ echo __('Street Address %1', $_i) ?>" id="street_<?php /* @escapeNotVerified */ echo $_i ?>" class="input-text <?php /* @escapeNotVerified */ echo $_streetValidationClass ?>">
                                </div>
                            </div>
                        <?php endfor; ?>
                    </div>
                </div>
            </div>

            <div class="field required">
                <label for="city" class="label"><span><?php /* @escapeNotVerified */ echo __('City') ?></span></label>
                <div class="control">
                    <input placeholder="<?php /* @escapeNotVerified */ echo __('City') ?>" type="text" name="city" value="<?php echo $block->escapeHtml($block->getFormData()->getCity()) ?>" title="<?php /* @escapeNotVerified */ echo __('City') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city') ?>" id="city">
                </div>
            </div>

            <div class="field region required">
                <label for="region_id" class="label"><span><?php /* @escapeNotVerified */ echo __('State/Province') ?></span></label>
                <div class="control">
                    <select id="region_id" name="region_id" title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>" class="validate-select" style="display:none;">
                        <option value=""><?php /* @escapeNotVerified */ echo __('Please select a region, state or province.') ?></option>
                    </select>
                    <input placeholder="<?php /* @escapeNotVerified */ echo __('Region') ?>" type="text" id="region" name="region" value="<?php echo $block->escapeHtml($block->getRegion()) ?>" title="<?php /* @escapeNotVerified */ echo __('State/Province') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region') ?>" style="display:none;">
                </div>
            </div>

            <div class="field zip required">
                <label for="zip" class="label"><span><?php /* @escapeNotVerified */ echo __('Zip/Postal Code') ?></span></label>
                <div class="control">
                    <input placeholder="<?php /* @escapeNotVerified */ echo __('Zip/Postal Code') ?>" type="text" name="postcode" value="<?php echo $block->escapeHtml($block->getFormData()->getPostcode()) ?>" title="<?php /* @escapeNotVerified */ echo __('Zip/Postal Code') ?>" id="zip" class="input-text validate-zip-international <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode') ?>">
                </div>
            </div>

            <div class="field country required">
                <label for="country" class="label"><span><?php /* @escapeNotVerified */ echo __('Country') ?></span></label>
                <div class="control">
                    <?php echo $block->getCountryHtmlSelect() ?>
                </div>
            </div>
            <?php $addressAttributes = $block->getChildBlock('customer_form_address_user_attributes');?>
            <?php if ($addressAttributes): ?>
                <?php $addressAttributes->setEntityType('customer_address'); ?>
                <?php $addressAttributes->setFieldIdFormat('address:%1$s')->setFieldNameFormat('address[%1$s]');?>
                <?php $block->restoreSessionData($addressAttributes->getMetadataForm(), 'address');?>
                <?php echo $addressAttributes->setShowContainer(false)->toHtml()?>
            <?php endif;?>
            <input type="hidden" name="default_billing" value="1">
            <input type="hidden" name="default_shipping" value="1">
        </fieldset>

    <?php endif; ?>
    <fieldset class="fieldset create account" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
        <!-- <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Sign-in Information') ?></span></legend><br> -->

        <div class="field password required">
        <div class="field password required" data-mage-init='{"passwordStrengthIndicator": {}}'>
            <label>
              <span>Kata Sandi</span>
              <span style="color: red; font-size: 16px">
                            *
              </span>
            </label>
            <div class="control">               
                <input placeholder="<?php /* @escapeNotVerified */ echo __('Password') ?>" type="password" name="password" id="password"
                       title="<?php /* @escapeNotVerified */ echo __('Password') ?>"
                       class="input-text"
                       data-password-min-length="<?php echo $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
                       data-password-min-character-sets="<?php echo $block->escapeHtml($block->getRequiredCharacterClassesNumber()) ?>"
                       data-validate="{required:true, 'validate-customer-password':true}"
                       autocomplete="off">
                <div id="password-strength-meter-container" data-role="password-strength-meter" >
                    <div id="password-strength-meter" class="password-strength-meter">
                        <?php /* @escapeNotVerified */ echo __('Password Strength'); ?>:
                        <span id="password-strength-meter-label" data-role="password-strength-meter-label" >
                            <?php /* @escapeNotVerified */ echo __('No Password'); ?>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="field confirmation required">
            <label>
              <span>Konfirmasi Sandi</span>
              <span style="color: red; font-size: 16px">
                            *
              </span>
            </label>
            <div class="control">
                <input type="password" placeholder="<?php /* @escapeNotVerified */ echo __('Confirm Password') ?>" name="password_confirmation" title="<?php /* @escapeNotVerified */ echo __('Confirm Password') ?>" id="password-confirmation" class="input-text" data-validate="{required:true, equalTo:'#password'}" autocomplete="off">
            </div>
        </div>
        <?php echo $block->getChildHtml('form_additional_info'); ?>
        <br>
        <p><input type="checkbox" id="myCheck" name="setuju">Dengan mendaftar anda setuju dengan <a style="color: green;" href="#">Syarat Ketentuan dan Kebijakan dari UNIHEALTH</a> & <a style="color: green;" href="#">Kebijakan Privasi</a></p>
        <span style="color: #e02b27;font-size: 1.2rem;" id="checkbox"><i></i></span>
    </fieldset>
	</div>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action submit primary" onclick="return getAge()" title="<?php /* @escapeNotVerified */ echo __('Create an Account') ?>"><span><?php /* @escapeNotVerified */ echo __('Create an Account') ?></span></button>
        </div>
        <div class="secondary">
            <a class="action back" href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>"><span><?php /* @escapeNotVerified */ echo __('Back') ?></span></a>
        </div>
    </div>
</form>
</div>
</div>
<script>
require([
    'jquery',
    'mage/mage'
], function($){

    var dataForm = $('#form-validate');
    var ignore = <?php /* @escapeNotVerified */ echo $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null'; ?>;
    
    dataForm.mage('validation', {
    <?php if ($_dob->isEnabled()): ?>
        errorPlacement: function(error, element) {
            if (element.prop('id').search('full') !== -1) {
                var dobElement = $(element).parents('.customer-dob'),
                    errorClass = error.prop('class');
                error.insertAfter(element.parent());
                dobElement.find('.validate-custom').addClass(errorClass)
                    .after('<div class="' + errorClass + '"></div>');
            }
            else {
                error.insertAfter(element);
            }
        },
        ignore: ':hidden:not(' + ignore + ')'
    <?php else: ?>
        ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
    <?php endif ?>
    }).find('input:text').attr('autocomplete', 'off');

});
</script>
<?php if ($block->getShowAddressFields()): ?>
<script type="text/x-magento-init">
    {
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?php /* @escapeNotVerified */ echo($block->getConfig('general/region/display_all') ? 'true' : 'false'); ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Directory\Helper\Data')->getRegionJson() ?>,
                "defaultRegion": "<?php /* @escapeNotVerified */ echo $block->getFormData()->getRegionId() ?>",
                "countriesWithOptionalZip": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Directory\Helper\Data')->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
<?php endif; ?>
<script type="text/javascript">
    function getAge() 
{
    var dateString = document.getElementById("ca_tanggal_lahir").value;
    if(dateString !="")
    {
        var today = new Date();
        var birthDate = new Date(dateString); //format is mm.dd.yyyy
        var age = today.getFullYear() - birthDate.getFullYear();
        var m = today.getMonth() - birthDate.getMonth();
  var da = today.getDate() - birthDate.getDate();
  if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
    age--;
  }
  if(m<0){
    m +=12;
  }
  if(da<0){
    da +=30;
  }

        if(age < 17)
        {
            document.getElementById("msg").innerHTML = "Umur Anda Harus 17 Tahun";
            return false;
        } 
        else 
        {
            document.getElementById("msg").innerHTML = "";
            var checkBox = document.getElementById("myCheck");
  if (checkBox.checked == false){
    document.getElementById("checkbox").innerHTML = "Silahkan klik setuju";
    return false;
  } else {
    document.getElementById("checkbox").innerHTML = "";
  }
        }
    } 
    else 
    {
       
    }
}
</script>
<script type="text/javascript">
	function showSponsor(e) {
    var strdisplay = e.options[e.selectedIndex].value;
    var e = document.getElementById("idsponsor");
    if(strdisplay == "Ya") {
        e.style.display = "block";

    } else {
        e.style.display = "none";
    }
    var e = document.getElementById("btnidsponsor");
    if(strdisplay == "Ya") {
        e.style.visibility = "";
        
    } else {
        e.style.visibility = "hidden";
    }
}
</script>

<script type="text/javascript">
	function showAktivasi(e) {
    var strdisplay = e.options[e.selectedIndex].value;
    var e = document.getElementById("idaktivasi");
    if(strdisplay == "Ya") {
        e.style.display = "block";

    } else {
        e.style.display = "none";
    }
    var e = document.getElementById("btnidaktivasi");
    if(strdisplay == "Ya") {
        e.style.visibility = "hidden";
        
    } else {
        e.style.visibility = "hidden";
    }
}
</script>


