<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_RewardSystem
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php if ($block->checkModuleStatus() && $block->getCustomerRewardData()) { ?>
    <?php
    $appliedRewards = $block->getAppliedRewardPoint();
    $helper = $block->getHelper();
    ?>
<div class="cart-discount">
    <div class="payment-option" id="block-discount" style="margin-top: 2%">
        <div class="payment-option-title field choice" data-role="title">
            <span class="action action-toggle title" id="block-discount-heading" role="heading" aria-level="2">
                <strong><?= /* @noEscape */ __('Apply Reward Point(s)') ?></strong>
            </span>
        </div>
        <div class="payment-option-content content" data-role="content" aria-labelledby="block-discount-heading">
            <div class="wk_rs_points_details wk_rs_total_points">
                <div class="wk_rs_cartsign">
                    <span class="wk_rs_reward_value" ><?= $block->escapeHtml($block->getCustomerRewardData()); ?></span>
                    <div style="display:inline-block">
                    <span class="wk_rs_reward_text"><span><?= /* @noEscape */ __('Reward Points'); ?></span></span>
                    <p><span><?= /* @noEscape */ __('You have'); ?></span></p>
                    </div>
                </div>
            </div>
            <div class="wk_rs_points_details wk_rs_total_points" style="margin-right: 20%; position: sticky;">
                <div class="wk_rs_cartsign">
                    <sup class="wk_rs_amount_currency">
                      <?= $block->escapeHtml($block->getCheckoutCurrencySymbol()); ?>
                    </sup>
                    <span class="wk_rs_reward_value" ><?= $block->escapeHtml($block->rewardValue()); ?></span>
                    <div style="display:inline-block">
                        <span class="wk_rs_reward_text">
                          <span><?= /* @noEscape */ __('Per Reward Point'); ?></span>
                        </span>
                        <p><span><?= /* @noEscape */ __('Amount'); ?></span></p>
                    </div>
                </div>
            </div>
            <?php if (!$appliedRewards) { ?>
                <form class="form form-discount" id="reward-form" method="post"
                action="<?= $block->escapeUrl($block->getUrl('rewardsystem/checkout/applyrewards')) ?>"
                >
                    <input class="input-text" type="hidden" name="number_of_rewards" id="number_of_rewards"
                     value="<?= $block->escapeHtml($block->getCustomerRewardData()); ?>">
                    <div class="payment-option-inner">
                        <div class="field">
                            <div class="control">
                                <span class="wk_rs_reward_text">
                                    <span><?= /* @noEscape */ __('Enter Your Reward Points:'); ?></span>
                                </span>
                                <br>
                                <input required class="input-text" type="text" id="reward_points" name="used_reward_points"
                                style="width:auto; padding:0px 0px"
                                placeholder="<?= $block->escapeHtml(__('Enter Reward points')); ?>"
                                >
                            </div>
                        </div>
                    </div>
                    <button class="action action-apply" type="submit" id="apply_rewards"
                    value="<?= /* @noEscape */ __('Apply Reward Point(s)'); ?>">
                        <span><span><?= /* @noEscape */ __('Apply Reward Point(s)'); ?></span></span>
                    </button>
                </form>
            <?php } ?>
            <div class="actions-toolbar"></div>
            <?php if ($appliedRewards) { ?>
                <div class="payment-option-inner">
                    <div class="field">
                        <form id="cancel-Reward-form"
                        action="<?= $block->escapeUrl($block->getUrl('rewardsystem/checkout/cancelrewards')) ?>"
                        method="post">
                            <dl class="wk_applied_rewards">
                                <dt><span><?= /* @noEscape */ __('Applied Rewards'); ?></span></dt>
                                <dd class="wk_rs_applied_reward">
                                    <span class="form-list wk_rs_reward_applied">
                                        <span class="wk_rs_applied_reward_text">
                                            <span><span><?= /* @noEscape */ __('Using'); ?></span></span>
                                            <span class="wk_rs_applied_amount">
                                              <?= $block->escapeHtml(
                                                  $helper->getCurrentCurrencyCode().$appliedRewards['amount']
                                              ); ?>
                                            </span>
                                            <span>(</span><span>
                                              <?= $block->escapeHtml($appliedRewards['used_reward_points']); ?>
                                            </span><span><span>
                                              <?= /* @noEscape */ __('Rewards'); ?>
                                            </span></span><span>)  <span><?= /* @noEscape */ __('of'); ?></span></span>
                                            <span class="wk_rs_applied_amount" >
                                              <?= $block->escapeHtml(
                                                  $helper->getformattedPrice($appliedRewards['number_of_rewards'])
                                              ); ?></span>
                                            <span>(</span><span>
                                              <?= $block->escapeHtml($appliedRewards['number_of_rewards']); ?>
                                            </span><span><span> <?= /* @noEscape */ __('Rewards'); ?> )</span></span>
                                        </span>
                                    </span>
                                    <button class="action action-cancel"
                                    type="submit" value="<?= /* @noEscape */ __('Cancel'); ?>">
                                        <span><span><?= /* @noEscape */ __('Cancel'); ?></span></span>
                                    </button>
                                </dd>
                            </dl>
                        </form>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
    <hr/>
</div>
<?php } ?>
