<style type="text/css">
	.register-link{
		font: 400 14px/1.35 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;
	}
</style>
<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Customer\Block\Account\AuthorizationLink */
$dataPostParam = '';
if ($block->isLoggedIn()) {
    $dataPostParam = sprintf(" data-post='%s'", $block->getPostParams());
}
?>
<li style="font: 400 14px/1.35 Poppins, Helvetica Neue, Verdana, Arial, sans-serif;" class="authorization-link switcher <?php echo $block->isLoggedIn() ? 'log-out' : 'log-in' ?>" id="authorization-top-link"> <?php /* data-label="<?php echo $block->escapeHtml(__('or')); ?>" */ ?>
	<?php if( $block->isLoggedIn() ): ?>
	<a <?php /* @escapeNotVerified */ echo $block->getLinkAttributes(); ?><?php /* @escapeNotVerified */ echo $dataPostParam; ?>>
        <?php echo $block->escapeHtml($block->getLabel()); ?>
    </a>
	<?php else: ?>
	<a style="display:none" class="log-in link" <?php /* @escapeNotVerified */ echo $block->getLinkAttributes(); ?><?php /* @escapeNotVerified */ echo $dataPostParam; ?>>
        <?php echo $block->escapeHtml($block->getLabel()); ?>
    </a>
	<div class="actions dropdown options switcher-options">
		<div class="action toggle switcher-trigger" id="authorization-trigger">
			<?php echo $block->escapeHtml($block->getLabel()); ?>
		</div>
		<div style="display:none;" id="cdz-login-form-dropdown" class="cdz-login-form-dropdown dropdown switcher-dropdown"  data-mage-init='{"dropdownDialog":{
					"appendTo":"#authorization-top-link > .options",
					"triggerTarget":"#authorization-trigger",
					"closeOnMouseLeave": false,
					"triggerClass":"active",
					"parentClass":"active",
					"buttons":null}}'>
			<?php echo $block->getChildHtml('customer_form_login_mini') ?>
		</div>
	</div>
	<?php endif ?>
</li>
