<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Checkout\Block\Onepage\Link */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
?>
<?php if ($block->isPossibleOnepageCheckout()) :?>
    <?php if ($customerSession->isLoggedIn()): ?>
    <button type="button"
            data-role="proceed-to-checkout"
            title="<?= $block->escapeHtmlAttr(__('Proceed to Checkout')) ?>"
            data-mage-init='{
                "Magento_Checkout/js/proceed-to-checkout":{
                    "checkoutUrl":"<?= $block->escapeJs($block->escapeUrl($block->getCheckoutUrl())) ?>"
                }
            }'
            class="action primary checkout<?= ($block->isDisabled()) ? ' disabled' : '' ?>"
            <?php if ($block->isDisabled()) :?>
                disabled="disabled"
            <?php endif; ?>>
        <span><?= $block->escapeHtml(__('Proceed to Checkout')) ?></span>
    </button>
    <?php else : ?>
    <a type="button" class="action primary checkout<?= ($block->isDisabled()) ? ' disabled' : '' ?>" href="<?php echo $storeManager->getStore()->getBaseUrl();?>customer/account/create/">
        <span><?= $block->escapeHtml(__('Proceed to Checkout')) ?></span>
    </a>
    <?php endif ?>
<script>
    function setcheckoutLocation(location)
    {
    jQuery.ajax({
        type:"GET",
        url:location,
        success:function(data){
            window.location.href = '<?php echo $storeManager->getStore()->getBaseUrl();?>'+'/customer/account/create/';
        }
    });

    }
</script>
<?php endif?>
