<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_VisualMerch
 */
?>
<?php $element = $block->getElement() ?>
<?php $jsObjectName = $block->getFieldSetId() != null ? $block->getFieldSetId() : $element->getHtmlId() ?>
<div class="rule-tree">
    <fieldset id="<?= /* @escapeNotVerified */ $jsObjectName ?>" <?= /* @escapeNotVerified */ $element->serialize(['class']) ?> class="fieldset">
        <legend class="legend"><span><?= /* @escapeNotVerified */ $element->getLegend() ?></span></legend>
        <?php if ($element->getComment()): ?>
            <div class="messages">
                <div class="message message-notice"><?= $block->escapeHtml($element->getComment()) ?></div>
            </div>
        <?php endif; ?>
        <div class="rule-tree-wrapper">
            <?= $element->getChildrenHtml() ?>
        </div>
    </fieldset>
</div>
