<?php	$helper = $block->getLayout()->createBlock(\Webkul\RewardSystem\Block\RewardData::class)->getHelperClass();
;
        $reviewStatus = $helper->getAllowReview();
        $enableRewardSystem = $helper->enableRewardSystem();
        $reviewPoints = $helper->getRewardOnReview();
    $customerId = $helper->getCustomerId();
    $url  = $block->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]);
    $loginUrl = $block->escapeHtml($block->getUrl('customer/account/login', ['referer' => base64_encode($url)]));
if ($reviewStatus == 1 && $enableRewardSystem== 1) {    ?>
           <!--  <div class="wk_rewards_on_products">
                <h3 class="wk_rs_product_style wk_rs_advertise_product_page_style">
                        <span class="wk_rs_product_page_greet"></span>
                        <?= /* @escapeNotVerified */ $block->escapeHtml(__('Submit your review to '))?>
                        <span class="wk_rs_cart_green">
                          <?= $block->escapeHtml(__('Earn %1 Reward Points', $reviewPoints)); ?>
                        <?php if (!$customerId) {?>
                                <a href="<?= $block->escapeUrl($loginUrl); ?>"><?= (" click here"); ?>
                                </a>
                                <?= $block->escapeHtml(__(" to login"));} ?>

                        </span>
                </h3>
            </div> -->
<?php     }?>
